{% extends "layout.html" %}

{% block title %}
Опис послуги
{% endblock %}

{% block body %}
<!-- Заставка -->
<div class="splash">
  <div class="container">
    <!-- Текст, размещенный на заставке -->
    <h1>Опис послуги</h1>
    <p style="padding-left: 50px;">
        Послуга Інтернет від Vintelecom базується на технології ADSL (Asymmetric Digital Subscriber Line). ADSL – це технологія , яка дозволяє організувати постійно діючий високошвидкісний доступ до Інтернет по існуючій телефонній лінії.</p>
    <p style="padding-left: 50px;">При користуванні Інтернет телефонна лінія залишається вільною, і Ви можете одночасно працювати в Інтернет та розмовляти по телефону. Причому, якість кожної з послуг залишається неодмінно високою, оскільки вони жодним чином не впливають одна на одну.</p>
    <p style="padding-left: 50px;">Замовити послугу Інтернет від Vintelecom можна <a href="form">на сайті</a> або за телефоном 0-800-800-800.</p>
    <h2 style="margin: 7 0 10 40;">Переваги користування послугою Інтернет від Vintelecom</h2>
    <p style="padding-left: 50px;"><b>Постійний доступ до Інтернет</b></p>
    <p style="padding-left: 50px;">Для Вас виділено окремий порт на телефонній станції Vintelecom. Отже, Ви ніколи не почуєте сигналу «зайнято» та у будь-який час можете отримати доступ до мережі Інтернет.</p>
    <p style="padding-left: 50px;"><b>Висока швидкість передачі даних</b></p>
    <p style="padding-left: 50px;">Висока швидкість приймання/передавання даних дозволить Вам комфортно працювати в Інтернет та максимально використовувати його ресурси і можливості – працювати з веб-сайтами, швидко завантажувати великі за об'ємом файли, завантажувати та обмінюватись аудіо та відео файлами, спілкуватись та обмінюватись даними в реальному режимі часу*.</p>
    <p style="padding-left: 50px;">* Примітка. Конкретні параметри підключення до мережі Інтернет за технологією ADSL (якість, швидкість) обумовлюються технічними характеристиками Вашої абонентської телефонної лінії та визначаються після тестування, що проводиться спеціалістами Vintelecom при підключенні.</p>
    
  </div>
</div>
{% endblock %}
