{% extends "layout.html" %}

{% block title %}
Контакти
{% endblock %}

{% block body %}
<div class="splash">
  <div class="container">
    <!-- Текст, размещенный на заставке -->
    <h1>Наші контакти</h1>
    <ul type="disc"> 
    <li style="text-align: 50px;">Відділення №1: м.Вінниця, вул. Соборна, 180; </li> 
    <li style="text-align: 50px;">Відділення №2: м.Вінниця, вул. Келецька, 220; </li> 
    <li style="text-align: 50px;">Прийом абонентів: з 8:00 до 18:00 без вихідних; </li> 
    <li style="text-align: 50px;">Гаряча лінія 0-800-800-800 (безкоштовно); </li> 
    </ul> 
    <p>
    <p>Замовити послугу Інтернет від Vintelecom можна <a href="form">на сайті</a> або за телефоном 0-800-800-800.</p>

  </div>
</div>
{% endblock %}
