{% extends "layout.html" %}
{% block body %}    
<form action="login" method=post class="form-horizontal">
  <h2>Вхід у систему управління </h2>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">Логін</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="login" placeholder="Введіть логін">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-1 control-label">Пароль</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="password" placeholder="Введіть пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember"> Запам'ятати мене
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-default">Увійти</button>
    </div>
  </div>
</form>
{% endblock %}

