{% extends "layout.html" %}

{% block title %}
      Головна сторінка
{% endblock %}

{% block body %}
<!-- Заставка -->
<div class="splash">
  <div class="container">
    <!-- Текст, размещенный на заставке -->
    <h1>Vintelecom - сьогодні</h1>
    <p style="text-align: 50px;">Vintelecom одна з найбільших компаній України, яка надає повний спектр телекомунікаційних послуг в усіх регіонах країни. </p> 
    <p style="text-align: 50px;">Особливо сильні&nbsp; позиції товариство має на ринку послуг доступу до мережі Інтернет та фіксованої телефонії. Vintelecom є лідером ринку швидкісного фіксованого доступу до мережі Інтернет та займає провідні позиції на ринку фіксованої телефонії.</p> 
    <p style="text-align: 50px;">Vintelecom створило найпотужнішу в Україні національну магістральну мережу передавання даних, побудовану на базі сучасної технології DWDM, яка дозволяє надавати споживачам сучасні телекомунікаційні послуги майже &nbsp;в усіх населених пунктах України.</p> 
    <p style="text-align: 50px;">Компанія пропонує своїм клієнтам практично всі види сучасних телекомунікаційних послуг, таких як:</p> 
    <ul type="disc"> 
    <li style="text-align: 50px;">міжнародний, міжміський та&nbsp;місцевий телефонний зв&#039;язок; </li> 
    <li style="text-align: 50px;">послуги передавання даних і&nbsp;побудови віртуальних приватних мереж; </li> 
    <li style="text-align: 50px;">Інтернет-послуги, у&nbsp;т.&nbsp;ч. послугу &laquo;Інтернет від Vintelecom&raquo; -&nbsp; швидкісний доступ до&nbsp;мережі Інтернет для абонентів мережі фіксованого телефонного зв&#039;язку; </li> 
    <li style="text-align: 50px;">постійне IP-з&#039;єднання по&nbsp;виділеній лінії; апаратний і&nbsp;віртуальний хостінг; </li> 
    <li style="text-align: 50px;">надання в&nbsp;користування виділених некомутованих каналів зв&#039;язку; </li> 
    <li style="text-align: 50px;">ISDN; </li> 
    <li style="text-align: 50px;">відеоконференц-зв&#039;язок; </li> 
    <li style="text-align: 50px;">проводове мовлення; </li> 
    <li style="text-align: 50px;">телеграфний зв&#039;язок; </li> 
    <li style="text-align: 50px;">мобільний зв&#039;язок за технологією UMTS/WCDMA.</li> 
    </ul> 

  </div>
</div>

{% endblock %}
