{% extends "layout.html" %}

{% block title %}
    users
{% endblock %}

{% block body %}
<div class="splash">
  <div class="container">
<h1>Користувачі системи</h1>
<form action="{{ url_for('panel') }}" method="post">
    <table class="table table-bordered">
            <tr><th></th><th>Им'я користувача/логін</th><th>Пароль</th><th>Поштова скринька</th><th>Роль користувача</th></tr>
        {% for user in users %}
            <tr><td><input name="id" type="radio" value="{{ user.id }}"/></td><td> {{ user.login }} </td><td> {{ user.password }} </td><td> {{ user.mail }} </td><td> {{ user.role }} </td></tr>
        {% endfor %}
    <table>
    <button type="submit" class="btn btn-default">Видалити користувача</button>
</form>
<form action="adduserform">
<button type="submit" class="btn btn-default">Додати користувача</button>
</form>

 </div>
</div>
{% endblock %}