{% extends "layout.html" %}

{% block title %}
    users
{% endblock %}

{% block body %}
    <form action="{{ url_for('panel') }}" method="post">
        <ul>
            {% for user in users %}
                <li><input name="id" type="radio" value="{{ user.id }}"/>{{ user.login }} {{ user.password }} {{ user.role }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Видалити користувача"/>
    </form>
    <form action="adduserform">
    <button type="submit">Додати користувача</button>
    </form>
{% endblock %}