{% extends "layout.html" %}

{% block title %}
    Vintelecom
{% endblock %}

{% block body %}    
<h1>Архівні заявки</h1>
<form action="{{ url_for('registrants_archiv') }}" method="get">
    <table class="table table-bordered">
            <tr><th>Дата</th><th>Телефон</th><th>Контактна особа</th><th>Контактний телефон</th><th>Поштова скринька</th></tr>
        {% for registrant in registrants %}
            <tr><td> {{ registrant.date }} </td><td> {{ registrant.tel }} </td><td> {{ registrant.kontakt }} </td><td> {{ registrant.mobile }} </td><td> {{ registrant.mail }} </td></tr>
        {% endfor %}
    </table>
</form>
</form>
<form action="registrants">
<button type="submit">Актуальні заявки</button>
</form>
{% endblock %}


