{% extends "layout.html" %}

{% block title %}
    Vintelecom
{% endblock %}

{% block body %}
<h2>Вітаємо! {{ g.user }}</h2>    
<h1>Архівні заявки</h1>
<form action="{{ url_for('registrants_archiv') }}" method="post">
    <table class="table table-bordered">
            <tr>
                <th></th>
                <th>Дата</th>
                <th>Телефон</th>
                <th>Контактна особа</th>
                <th>Контактний телефон</th>
                <th>Поштова скринька</th>
                <th>Коментарі до відпрацювання</th>
            </tr>
        {% for registrant in registrants %}
            <tr>
                <td><input name="id" type="radio" value="{{ registrant.id }}"/></td>
                <td> {{ registrant.date }} </td><td> {{ registrant.tel }} </td>
                <td> {{ registrant.kontakt }} </td>
                <td> {{ registrant.mobile }} </td>
                <td> {{ registrant.mail }} </td>
                <td> 
                {% for comment in registrant.coment.split('\n') %}
                {{ comment }} <br>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Видалити назавжди"/>
</form>
</form>
<form action="registrants">
<button type="submit">Актуальні заявки</button>
</form>
{% endblock %}


