{% extends "layout.html" %}

{% block title %}
success
{% endblock %}

{% block body %}
<div class="splash">
  <div class="container">
    <h1>Вітаємо!</h1>
    <h4>Шановний абонент: {{ kontakt }} </h4> 
    <h4>Ваша заявка на підключення послуги Інтернет від Vintelecom на номер {{ tel }} прийнята.</h4> 
    <h4>Працівники компанії в найближчий час зателефонують Вам на контактний номер.</h4> 
    <h4>При виникненні питань телефонуйте за телефоном 0-800-800-800.</h4> 
    
  </div>
</div>
{% endblock %}
