{% extends "layout.html" %}

{% block title %}
Тарифи
{% endblock %}

{% block body %}

<div class="splash">
  <div class="container">
    <!-- Текст, размещенный на заставке -->
<div class="article-content">
<h1>Тарифи на послуги</h1>
<table style="width: 70%; border: grey 0px dotted;" border="0" cellpadding="3" cellspacing="1">
<tbody>
<tr style="background-color: #d3d3d3;">
<td><strong>Послуга</strong></td>
<td><strong>Ціна</strong></td>
</tr>
<tr style="background-color: #f5f5f5;">
<td>Підключення Інтернет (одноразово)</td>
<td>60 грн.</td>
</tr>
<tr style="background-color: #e7e8e6;">
<td>Динамічна ІР-адреса</td>
<td>10 грн./міс.</td>
</tr>
<tr style="background-color: #f5f5f5;">
<td>Оренда модему</td>
<td>10 грн./міс.</td>
</tbody>
</table>
<h1>Тарифні плани на послугу Інтернет</h1>
<table style="width: 70%; border: grey 0px dotted;" border="0" cellpadding="3" cellspacing="1">
<tbody>
<tr style="background-color: #d3d3d3;">
<td><strong>Тариф</strong></td>
<td><strong>Швидкість</strong></td>
<td><strong>Ціна</strong></td>
</tr>
<tr style="background-color: #e7e8e6;">
<td><strong>Старт</strong></td>
<td>до 2 мбіт/с</td>
<td>65 грн./міс.</td>
</tr>
<tr style="background-color: #f5f5f5;">
<td><strong>Норма</strong></td>
<td>до 4 мбіт/с</td>
<td>80 грн./міс.</td>
</tr>
<tr style="background-color: #e7e8e6;">
<td><strong>Бізнес</strong></td>
<td>до 9 мбіт/с</td>
<td>100 грн./міс.</td>
</tr>
<tr style="background-color: #f5f5f5;">
<td><strong>Профі</strong></td>
<td>до 12 мбіт/с</td>
<td>115 грн./міс.</td>

</tbody>
</table>

</div>
<p>
<p>
<p>Замовити послугу Інтернет від Vintelecom можна <a href="form">на сайті</a> або за телефоном 0-800-800-800.</p>

  </div>
</div>

{% endblock %}
