{% extends "layout.html" %}

{% block title %}
    registrants
{% endblock %}

{% block body %}
    <form action="{{ url_for('unregister') }}" method="post">
        <ul>
            {% for registrant in registrants %}
                <li><input name="id" type="radio" value="{{ registrant.id }}"/> {{ registrant.tel }} {{ registrant.kontakt }} {{ registrant.mobile }} {{ registrant.mail }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Unregister"/>
    </form>
{% endblock %}
